<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__inner">
      <div class="site-footer__identity">
        <p class="site-footer__name">Yichen Zhang</p>
        <p class="site-footer__meta">M.S. in Computer Engineering, New York University</p>
      </div>
      <div class="footer-links">
        <span class="footer-copyright">&copy; {{ site.time | date: '%Y' }}</span>
        <a href="mailto:yz10759@nyu.edu">Email</a>
        <a href="https://github.com/JarvisZhang24">GitHub</a>
      </div>
    </div>
  </div>
</footer>
